{% extends 'base.html' %}

{% block content %}
<script type="text/javascript" src="https://cdn.datatables.net/r/bs-3.3.5/jqc-1.11.3,dt-1.10.8/datatables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
<link href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/octicons/4.4.0/font/octicons.css" rel="stylesheet">

    <table class="table" id="table">
        <thead>
            <th>Contender</th>
            <th>Challengee</th>
            <th>Challenge played</th>
            <th>Challenge date</th>
            <th>Game date</th>
            <th>Result</th>
        </thead>
        <tbody>
        {% for challenge in challenges %}
        <tr>
            <td>{{challenge.contender}}</td>
            <td>{{challenge.challengee}}</td>
            <td>{% if challenge.challenge_open %}<span style="display:none">0</span><span class="octicon octicon-x"></span>{% else %}<span style="display:none">1</span><span class="octicon octicon-check"></span>{% endif %}</td>
            <td>{% if challenge.challenge_date == None %} --- {% else %}{{challenge.challenge_date}} {% endif %}</td>
            <td>{% if challenge.game_date == None %} --- {% else %}{{challenge.game_date}} {% endif %}</td>
            <td>{% if challenge.contender_score == None or challenge.challengee_score == None %} --- {% else %}{{challenge.contender_score}}:{{challenge.challengee_score}}{% endif %}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <script type="text/javascript" charset="utf-8">
     $(document).ready(function() { 
          $('#table').DataTable();
     } );
</script>
{% endblock %}