{% extends 'base.html' %}


{% block content %}
<form method='POST'>
	{% csrf_token %}

		<div class="form-group">
			<div class="row">
				<div class="col-2"><label class="control-label col-control-label" for="old_password">Old password</label></div>
				<div class="col-10">
					{{ form.old_password }}
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="row">
				<div class="col-2"><label class="control-label col-control-label" for="new_password1">New password</label></div>
				<div class="col-10">
						{{ form.new_password1 }}
				</div>
			</div>
		</div>
		<div class="form-group">
				<div class="row">
					<div class="col-2"><label class="control-label col-control-label" for="new_password2">Repeat new password</label></div>
					<div class="col-10">
							{{ form.new_password2 }}
					</div>
				</div>
			</div>
	<button class="btn btn-default" type="submit">Change password</button>
</form>
{% endblock %}
