{% extends 'base.html' %}


{% block content %}

    <div class="jumbotron">
      <div class="container">
        <h2 class="display-3">RRRUaFTTL</h2>
        <p>Die Tischtennis Liga der RRRU and Friends</p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4 col-sm-12">
          <h2>Regeln</h2>
	  <p>Es gelten die Regeln der <a href="https://www.ittf.com/handbook">International Table Tennis Federation</a>. Nach der Herausforderung eines Spielers bleiben 10 Tage Zeit das Spiel auszutragen. Bei überschreitung der Frist wird das Spiel nicht gewertet. Im Profil hat jeder Spieler die Möglichkeit seinen Status auf Inaktiv zu setzten. Dadurch kann er nicht mehr am aktiven Spielgeschehen teilnehmen. Dies kann jeder Zeit Rückgängig gemacht werden. </p>
        </div>
	<div class="clearfix"></div>
	<div class="col-md-4 col-sm-12">
	   <h2>Wertung</h2>
	   <p>Die Wertung setzt sich folgendermaßen zusammen: Gewertet werden die letzten drei Spiele gegen jeden Gegenspieler. Die Spiele werden dabei mit den Faktoren drei, zwei und eins gewichtet wobei das letzte Spiel den Faktor 3 erhält. Ein gewonnes Spiel ist einen Punkt wert, ein verlorenes null.
	</div>
	<div class="clearfix"></div>
      </div>

{% endblock %}
