{% extends 'base.html' %}


{% block content %}

<script
			  src="https://code.jquery.com/color/jquery.color-2.1.2.min.js"
			  integrity="sha256-H28SdxWrZ387Ldn0qogCzFiUDDxfPiNIyJX7BECQkDE="
			  crossorigin="anonymous"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/octicons/4.4.0/font/octicons.css" rel="stylesheet">

<div class="table-responsive">
    <table class="table table-bordered" id="table">
     {% for row in table %}
        <tr>
        {% for cell in row %}
            {% if forloop.first or forloop.parentloop.first %}
                <th> 
            {% else %} <td class="text-center"> {% endif %}
                {{ cell.text }}
            {% if forloop.first or forloop.parentloop.first %}
                </th>
            {% else %}
                 </td> 
            {% endif %}
        {% endfor %}
        </tr>
    {% endfor %} 
</table>
</div>
<div class="table-responsive">
    <table class="table table-bordered" id = "table2">
        {% for row in table %}
            <tr>
            {% for cell in row %}
                {% if forloop.parentloop.first %}
                    <th colspan="3"> {{cell.text}} </th>
                {% elif forloop.first %}
                    <th colspan="3"> {{cell.text}} </th> 
                {% elif cell.text == 'clear' %}
                    <td colspan="3" style="background-color:DarkGray"></td>
                {% else %}
                    {% for game in cell.gameStatus %}
                        <td class="text-center" style="padding: 1px">
                        {% if game == 1 %}
				            <span style="color:green" class="octicon octicon-check"></span>
                        {% elif game == 0 %}
                            <span style="color:red" class="octicon octicon-x"></span>
                        {% else %}
                            <span style="color:lightgray" class="octicon octicon-circle-slash"></span>
                        {% endif %}
                        </td>
                    {% endfor %}
                {% endif %}
            {% endfor %}
            </tr>
        {% endfor %}
    </table>
</div>



<script type="text/javascript">
$(document).ready(function() { 
        var cells = document.getElementById("table").getElementsByTagName("td");
        for (var i = 0; i < cells.length; i++) {
            value = parseFloat(cells[i].innerHTML);
            if(isNaN(value))
            {
                cells[i].style.backgroundColor = 'DarkGray';
                cells[i].innerHTML = ""
            }else
            {
                console.log(value);
                console.log(jQuery.Color({ hue: 120, saturation: 50, lightness: 50, alpha: 1}).toRgbaString());
                cells[i].style.backgroundColor = jQuery.Color({ hue: 120, saturation: 0.5, lightness: 1-value/12, alpha: 1}).toRgbaString() ;
            }
        }
        });
</script>
{% endblock %}
